//color cube
$color-cube-shark: #252a2d;
$color-cube-chestnut-rose: #d5625f;
$color-cube-white: #fefefe;
$color-cube-dove-grey: #6b6b6b;
$color-cube-edward: #aeafae;
$color-cube-hokey-pokey: #d8bc29;

//median cut
$median-cut-shark: #212425;
$median-cut-old-rose: #c88a80;
$median-cut-pine-cone: #70625b;
$median-cut-oslo-gray: #899696;
$median-cut-regent-gray: #7e8995;

//material design
$material-design-chestnut-rose: #d3615e;
$material-design-tatch: #b4a394;
$material-design-irish-coffee: #632927;
$material-design-wooksmoke: #070809;
$material-design-antique-brass: #c2856c;